html,
body {
  scroll-behavior: smooth;
}

html {
  font-family: "Signika Negative", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--color-primary-200);
}

#app {
  min-height: 100vh;
  color: var(--color-primary-200);
  background: linear-gradient(var(--color-primary-950));
}

/* Typography */
h1 {
  font-family: "Oswald", serif;
  font-size: 2.5rem;
  font-weight: 450;
  color: var(--color-secondary-300);
  margin-bottom: 1rem;
  letter-spacing: -0.03em;
}

h2 {
  font-family: "Oswald", serif;
  font-size: 2rem;
  font-weight: 450;
  color: white;
  margin-bottom: 0.875rem;
  letter-spacing: -0.01em;
}

h2:first-child {
  margin-top: -1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-primary-500);
  margin-bottom: 0.75rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-primary-500);
  margin-bottom: 0.5rem;
}

h5,
h6 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary-500);
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

small {
  font-size: 0.875rem;
  color: var(--color-primary-500);
}

strong {
  font-weight: 600;
  color: var(--color-secondary-300);
}

/* Animations */
@keyframes spin-180 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes spin-180-reverse {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes fadeOutBackdrop {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.75;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Floating Vue Tooltip - ensure it appears above modals */
.v-popper__popper {
  z-index: 99999 !important;
}
